/********* Сворачивание текста / details  *********/
details {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 28px;

  summary {
    padding: 8px 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-color-title);
    position: relative;
    cursor: pointer;
    background: var(--bg-details-title);
    border-radius: 8px;
    width: auto;
    margin: 0;
    gap: 8px;

    &.h4 {
      font-size: var(--h4-font-size);
      font-weight: 400;
    }
  }

  .content {
    padding: 0 8px;
  }
}

details[open] {
  summary {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: var(--border);
    margin: 0 0 8px 8px;
    padding: 8px 0;

    .source-data {
      margin-right: 48px;
    }
  }
}

details {
  &.inside {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: var(--bg-details-title);

    summary {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

details[open] {
  &.inside {
    summary {
      border-bottom: 1px solid;
      border-color: var(--border);
      margin-bottom: 8px;
    }

    padding-bottom: 4px;
  }
}

details[open] {
  &.lvl {
    background-color: var(--bg-details-title);

    .content {
      padding: 4px 8px;
    }
  }
}

summary::marker {
  content: "";
}

summary:before {
  right: 269px;
  position: absolute;
  content: "➕";
  width: 0;
  height: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

details[open] > summary::before {
  content: "➖";
}

@media (max-width: 800px) {
  summary::before {
    right: 28px;
  }
}

summary.h5 {
  font-size: var(--h5-font-size);
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 8px 0;
  color: var(--text-color);
  cursor: pointer;
}

summary.h4:hover,
summary.h5:hover {
  color: var(--text-color);
}

.optional-rules {
  margin-right: 8px;
}

.source-data {
  text-align: right;
  margin-left: auto;
  margin-right: 40px;
  text-transform: uppercase;
  color: var(--text-g-color);
  font-size: var(--main-font-size);
}

h4.separator_card {
  width: 100%;
  margin-left: 8px;
}

.archetype_feet {
  color: var(--text-a-color) !important;
}

.align_left {
  text-align: left !important;
}

details.spoiler {
  padding: 0 0 4px 0;
  margin: 24px -8px 16px -8px;
  border-radius: 8px;

  .content {
    padding: 8px 16px;
  }
}

details[open].spoiler {
  background-color: var(--bg-details-title);

  summary {
    .source-data {
      margin-right: 40px;
    }
  }
}

details[open].spoiler > summary.h4 {
  margin: 0 0 4px 0;
  padding: 8px 8px;
  background: var(--hover);
  border-radius: 8px 8px 0 0;
}

details[open].spoiler > summary::after {
  right: 8px !important;
}

details[open].spoiler h4 > span {
  font-size: calc(var(--h4-font-size) - 2px);
}

details[open].spoiler table {
  background-color: var(--bg-sub-menu);
  border-radius: 8px;
}

details[open].spoiler div > details {
  margin-bottom: 0;
}
